@model PasswordRecoveryModel
@using Grand.Web.Models.Customer;
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<div class="row justify-content-center">

    <div class="page password-recovery-page col-4 whitebackground forgotpasswordbackground">
        <h1 class="generalTitle">Forgot Password</h1>
        <h1 class="generalTitle  passwordrecoverytitle ">Forgot Password</h1>
        @if (!String.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                <div class="result card bg-info p-3 text-white">@Model.Result</div>
            </div>
        }

        <div class="forgotpasswordtext">
            <span class="labelfontcolor">Please type in a e-mail address</span></br>
            <span class="labelfontcolor">We will send you a link to change the password</span>
        </div>

        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-form-label">@T("Account.PasswordRecovery.Email"):</label>
                <input asp-for="Email" class="form-control email newinput" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="row text-xs-center">
                <div class="col-12">
                    <input type="submit" name="send-email" class="btn btn-secondary PayButton" value="send" />
            <div class="form-group col-md-12">
                <div class="row justify-content-center">
                    <label asp-for="Email" class="col-form-label col-7 my-auto labelfontcolor">@T("Account.PasswordRecovery.Email"):</label>





                </div>
            </div>

                    <div class="row justify-content-center">

                        <input asp-for="Email" class="form-control email newinput col-7" />
                    </div>

                    <div class="row justify-content-center">
                        <span asp-validation-for="Email"></span>
                    </div>

                </div>




                <div class="form-group col-md-12">
                    <div class="row justify-content-center">
                    <input type="submit" name="send-email" class="btn PayButton col-7" value="Send" />
                    </div>
                </div>

            <div class="tooltip card text-white card-danger text-xs-center">
                <div class="card-body">
                    <blockquote class="card-bodyquote">
                        <p>@T("Account.PasswordRecovery.Tooltip")</p>
                    </blockquote>
                </div>
            </div>
        </form>
    </div>

</div>
