@model Grand.Web.Areas.Admin.Models.PointWalletSummary.PointWalletSummaryModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="LoyaltyPointUsed" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Model.LoyaltyPointUsed</label>

            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Activate" />
            <div class="col-md-9 col-sm-9">
                <label class="control-label">@Model.Activate</label>
            </div>
        </div>
    </div>
</div>



