@model Grand.Web.Areas.Admin.Models.RewardSummary.RewardSummaryModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Reward_Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Reward_Name" />
                <span asp-validation-for="Reward_Name"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Reward_Description" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Reward_Description" />
                <span asp-validation-for="Reward_Description"></span>
            </div>
        </div>
    </div>
</div>






