@model IList<ProductOverviewModel>
<div class="home-page-product-grid generalMarginSupporter mostpurchase">
    <h2 class="generalTitle text-left"> Recently Viewed</h2>@*@T("homepage.trendingproducts")*@
    <h2 class="text-right">Show More</h2>
    <div class="row px-3">
        @foreach (var item in Model)
        {
            <div class="col-xl-2 col-lg-2 col-sm-6 col-6 product-container">
                <partial name="_ProductBox" model="item" />


            </div>
        }
    </div>

</div>





@*<div class="home-page-product-grid generalMarginSupporter">*@
@*<h2 class="generalTitle text-center">@T("homepage.trendingproducts")</h2>*@
@*<div class="content_card_top">
        <div class="heading_card">
            <h2>Trending Products</h2>
        </div>
        <div class="see_All">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="row px-3">
        @foreach (var item in Model)
        {
            <div class="col-xl-3 col-lg-4 col-sm-6 col-6 product-container">
                <partial name="_ProductBox" model="item" />


            </div>
        }
    </div>*@

@*</div>*@


@*<div class="col-12 product-grid recommended-product-grid px-0">
        <h2 class="h3 generalTitle text-center">
            @T("HomePage.Recommended.Products")
        </h2>
        <a href="/RecommenedndedProducts">See All Products</a>

        @for (int i = 0; i <= Model.Count() / 12; i++)
        {
            <div class="row">
                @foreach (var item in Model.Skip(i * 12).Take(12))
                {
                    <div class="col-lg-4 col-sm-6 col-6 product-container">
                        <partial name="_ProductBox" model="item" />

                    </div>
                }
            </div>
        }

    </div>*@