@model Grand.Web.Areas.Admin.Models.LoyaltyGiftRewardSummary.LoyaltyGiftRewardSummaryModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Gift_Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Gift_Name" />
                <span asp-validation-for="Gift_Name"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Gift_Description" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Gift_Description" />
                <span asp-validation-for="Gift_Description"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="RedemptTime" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="RedemptTime" />
                <span asp-validation-for="RedemptTime"></span>
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Customer_ID" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Customer_ID" />
                <span asp-validation-for="Customer_ID"></span>
            </div>
        </div>
    </div>
</div>


