@using Grand.Web.Areas.Admin.Models.LuckyDrawGiftGroupingManage
@model LuckyDrawGiftGroupingManageModel

<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Group_Name" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Group_Name" />
                <span asp-validation-for="Group_Name"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Start_Time" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Start_Time" />
                <span asp-validation-for="Start_Time"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="End_Time" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="End_Time" />
                <span asp-validation-for="End_Time"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-body">
        <div class="form-group">
            <admin-label asp-for="Activate" />
            <div class="col-md-9 col-sm-9">
                <admin-input asp-for="Activate" />
                <span asp-validation-for="Activate"></span>
            </div>
        </div>
    </div>
</div>


