<div class="nav flex-sm-column navbar-inverse">
    
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle open">My Rewards</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="/Reward/RewardList" class="nav-link">View Rewards</a>
            </li>
            <li>
                <a href="/Reward/MyVoucherList" class="nav-link">My Voucher</a>
            </li>

        </ul>
    
</div>






